#### 1. Clean insurance data

In [41]:
# Read the file into a Pandas dataframe, list columns and first few records
import pandas as pd
import os

# set working dir
os.chdir("G:/My Drive/Private/CourseWork/MIS536/Final_Project/")

# read data
insurance = pd.read_csv("insurance_data2.csv")

# display columns 
print(insurance.columns)

# remove space from County
insurance['County'] = insurance['County'].replace('[\s]', '', regex=True)

# check dups
print(insurance.duplicated(subset=['County', 'Issuer Name', 'Metal Level']))

# remove dups
insurance = insurance.drop_duplicates(subset=['County', 'Issuer Name', 'Metal Level'])
print(insurance)

# Output clean dataset (by Metal Level)
insurance.to_csv("insurance_data2_clean_BY_METAL_LEVEL.csv", index=False)

# Output clean dataset (Bronze Metal Level only)
insurance_bronze = insurance[insurance['Metal Level']=='Bronze']
insurance_bronze.to_csv("insurance_data2_clean_BRONZE_ONLY.csv", index=False)

Index(['State', 'County', 'Issuer Name', 'Metal Level', 'Plan Type',
       'Rating Area', 'Premium Child', 'Premium Adult Individual Age 21',
       'Premium Adult Individual Age 27', 'Premium Adult Individual Age 30',
       'Premium Adult Individual Age 40', 'Premium Adult Individual Age 50',
       'Premium Adult Individual Age 60', 'Premium Couple 21  ',
       'Premium Couple 30', 'Premium Couple 40', 'Premium Couple 50',
       'Premium Couple 60', 'Couple+1 child, Age 21', 'Couple+1 child, Age 30',
       'Couple+1 child, Age 40', 'Couple+1 child, Age 50',
       'Couple+2 children, Age 21', 'Couple+2 children, Age 30',
       'Couple+2 children, Age 40', 'Couple+2 children, Age 50',
       'Couple+3 or more Children, Age 21',
       'Couple+3 or more Children, Age 30',
       'Couple+3 or more Children, Age 40',
       'Couple+3 or more Children, Age 50', 'Individual+1 child, Age 21',
       'Individual+1 child, Age 30', 'Individual+1 child, Age 40',
       'Individual+1 child, Age 50', 'Individual+2 children, Age 21',
       'Individual+2 children, Age 30', 'Individual+2 children, Age 40',
       'Individual+2 children, Age 50',
       'Individual+3 or more children, Age 21',
       'Individual+3 or more children, Age 30',
       'Individual+3 or more children, Age 40',
       'Individual+3 or more children, Age 50',
       'Medical Deductible - individual - standard',
       'Drug Deductible - individual - standard',
       'Medical Deductible -family - standard',
       'Drug Deductible - family - standard',
       'Medical Maximum Out Of Pocket - individual - standard',
       'Medical Maximum Out of Pocket - family - standard'],
      dtype='object')
0       False
1        True
2        True
3       False
4       False
        ...
4211    False
4212     True
4213     True
4214     True
4215     True
Length: 4216, dtype: bool
     State    County                                      Issuer Name  \
0       IL     ADAMS               Blue Cross Blue Shield of Illinois
3       IL     ADAMS               Blue Cross Blue Shield of Illinois
4       IL     ADAMS               Blue Cross Blue Shield of Illinois
8       IL     ADAMS               Blue Cross Blue Shield of Illinois
12      IL     ADAMS                             Coventry Health Care
...    ...       ...                                              ...
4200    IL  WOODFORD                         Humana Insurance Company
4201    IL  WOODFORD                         Humana Insurance Company
4203    IL  WOODFORD  Land of Lincoln Mutual Health Insurance Company
4206    IL  WOODFORD  Land of Lincoln Mutual Health Insurance Company
4211    IL  WOODFORD  Land of Lincoln Mutual Health Insurance Company

       Metal Level Plan Type     Rating Area  Premium Child  \
0           Bronze       PPO  Rating Area 10         108.31
3     Catastrophic       PPO  Rating Area 10         104.88
4             Gold       PPO  Rating Area 10         170.28
8           Silver       PPO  Rating Area 10         139.29
12          Bronze       PPO  Rating Area 10         110.18
...            ...       ...             ...            ...
4200      Platinum       PPO   Rating Area 7         194.94
4201        Silver       PPO   Rating Area 7         150.77
4203        Bronze       PPO   Rating Area 7         128.59
4206          Gold       PPO   Rating Area 7         183.29
4211        Silver       PPO   Rating Area 7         166.76

      Premium Adult Individual Age 21  Premium Adult Individual Age 27  \
0                              170.57                           178.76
3                              165.17                           173.09
4                              268.16                           281.02
8                              219.36                           229.88
12                             173.51                           181.83
...                               ...                              ...
4200                           307.00                           321.70
4201                           237.44                           248.83
4203                           202.50                           212.22
4206                           288.64                           302.50
4211                           262.62                           275.22

      Premium Adult Individual Age 30  ...  \
0                              193.60  ...
3                              187.46  ...
4                              304.36  ...
8                              248.97  ...
12                             196.93  ...
...                               ...  ...
4200                           348.42  ...
4201                           269.48  ...
4203                           229.84  ...
4206                           327.61  ...
4211                           298.07  ...

      Individual+3 or more children, Age 21  \
0                                    495.50
3                                    479.80
4                                    779.00
8                                    637.23
12                                   504.05
...                                     ...
4200                                 891.81
4201                                 689.75
4203                                 588.27
4206                                 838.51
4211                                 762.90

      Individual+3 or more children, Age 30  \
0                                    518.53
3                                    502.10
4                                    815.20
8                                    666.84
12                                   527.47
...                                     ...
4200                                 933.24
4201                                 721.79
4203                                 615.61
4206                                 877.48
4211                                 798.34

      Individual+3 or more children, Age 40  \
0                                    542.92
3                                    525.72
4                                    853.54
8                                    698.21
12                                   552.28
...                                     ...
4200                                 977.12
4201                                 755.74
4203                                 644.56
4206                                 918.76
4211                                 835.90

      Individual+3 or more children, Age 50  \
0                                    629.56
3                                    609.63
4                                    989.77
8                                    809.64
12                                   640.42
...                                     ...
4200                                1133.08
4201                                 876.36
4203                                 747.43
4206                                1065.38
4211                                 969.31

      Medical Deductible - individual - standard  \
0                                           5000
3                                           6350
4                                           3250
8                                           6000
12                                          5600
...                                          ...
4200                                        1000
4201                                        4250
4203                                        4000
4206                                        1350
4211                                        1500

      Drug Deductible - individual - standard  \
0                                           0
3                                           0
4                                           0
8                                           0
12                                          0
...                                       ...
4200                                      500
4201                                     1500
4203                                        0
4206                                        0
4211                                        0

      Medical Deductible -family - standard  \
0                                     12700
3                                     12700
4                                      9750
8                                     12700
12                                    11200
...                                     ...
4200                                   2000
4201                                   8500
4203                                   8000
4206                                   2700
4211                                   3000

      Drug Deductible - family - standard  \
0                                       0
3                                       0
4                                       0
8                                       0
12                                      0
...                                   ...
4200                                 1000
4201                                 3000
4203                                    0
4206                                    0
4211                                    0

      Medical Maximum Out Of Pocket - individual - standard  \
0                                                  6250
3                                                  6350
4                                                  3250
8                                                  6000
12                                                 6350
...                                                 ...
4200                                               1500
4201                                               6250
4203                                               6250
4206                                               2500
4211                                               6250

      Medical Maximum Out of Pocket - family - standard
0                                                 12700
3                                                 12700
4                                                  9750
8                                                 12700
12                                                12700
...                                                 ...
4200                                               3000
4201                                              12500
4203                                              12500
4206                                               5000
4211                                              12500

[1545 rows x 48 columns]

#### 2. Clean census data

In [42]:
# read data
census = pd.read_csv("census_data.csv")

# display head
print(census.head())

# remove space from County
census['County'] = census['County'].replace('[\s]', '', regex=True)

# capitalize County
census['County'] = census['County'].str.upper()
census.head()

      County County Type  Unemployment numerator  Unemployment denominator  \
0   Illinois       Urban                  278358                   6469683
1      Adams       Urban                    1277                     32893
2  Alexander       Rural                     171                      2153
3       Bond       Rural                     347                      7929
4      Boone       Urban                    1523                     26473

   Uninsured adults numerator  Uninsured adults denominator  \
0                      758796                       7768598
1                        2404                         37477
2                         285                          3456
3                         708                          8946
4                        2952                         31805

   Uninsured children numerator  Uninsured children denominator  \
0                         88404                         3005189
1                           362                           15373
2                            29                            1489
3                           105                            3368
4                           480                           14109

   Primary care physicians numerator  Primary care physicians denominator
0                              10241                             12802023
1                                 59                                66234
2                                  1                                 6315
3                                 12                                16948
4                                 30                                53513

,County,County Type,Unemployment numerator,Unemployment denominator,Uninsured adults numerator,Uninsured adults denominator,Uninsured children numerator,Uninsured children denominator,Primary care physicians numerator,Primary care physicians denominator
0,ILLINOIS,Urban,278358,6469683,758796,7768598,88404,3005189,10241,12802023
1,ADAMS,Urban,1277,32893,2404,37477,362,15373,59,66234
2,ALEXANDER,Rural,171,2153,285,3456,29,1489,1,6315
3,BOND,Rural,347,7929,708,8946,105,3368,12,16948
4,BOONE,Urban,1523,26473,2952,31805,480,14109,30,53513

#### 3. Clean population data

In [43]:
# read data
population = pd.read_csv("population_data.csv")

# display head
print(population.head())

# remove space from County
population['County'] = population['County'].replace('[\s]', '', regex=True)

# capitalize County
population['County'] = population['County'].str.upper()
population.head()

    County  Per capita income  Median household income  Median family income  \
0  McHenry              31838                    76482                 86698
1   Monroe              31091                    68253                 80832
2  Kendall              30565                    79897                 87309
3     Will              29811                    75906                 85488
4     Kane              29480                    67767                 77998

   Population
0      308760
1       32957
2      114736
3      677560
4      515269

,County,Per capita income,Median household income,Median family income,Population
0,MCHENRY,31838,76482,86698,308760
1,MONROE,31091,68253,80832,32957
2,KENDALL,30565,79897,87309,114736
3,WILL,29811,75906,85488,677560
4,KANE,29480,67767,77998,515269

#### 4. Join all 3 datasets

In [49]:
#insurance['County'] = insurance['County'].replace('[\s]', '', regex=True)
#census['County'] = census['County'].replace('[\s]', '', regex=True)
#population['County'] = population['County'].replace('[\s]', '', regex=True)

def move_col(df, col_name, col_pos):
    col = df[col_name]
    df.drop(labels=[col_name], axis=1, inplace=True)
    df.insert(col_pos, col_name, col)
    return df

#combined by Metal Level
combined = pd.merge(insurance, census, how='left', left_on=['County'], right_on = ['County'])
combined = pd.merge(combined, population,  how='left', left_on=['County'], right_on = ['County'])

combined = move_col(combined, 'County Type', 2)

print(combined.head())
combined.to_csv("combined_data_BY_METAL_LEVEL.csv", index=False)

#combined Bronze only
combined = pd.merge(insurance_bronze, census, how='left', left_on=['County'], right_on = ['County'])
combined = pd.merge(combined, population,  how='left', left_on=['County'], right_on = ['County'])

combined = move_col(combined, 'County Type', 2)

print(combined.head())
combined.to_csv("combined_data_BRONZE_ONLY.csv", index=False)

  State County County Type                         Issuer Name   Metal Level  \
0    IL  ADAMS       Urban  Blue Cross Blue Shield of Illinois        Bronze
1    IL  ADAMS       Urban  Blue Cross Blue Shield of Illinois  Catastrophic
2    IL  ADAMS       Urban  Blue Cross Blue Shield of Illinois          Gold
3    IL  ADAMS       Urban  Blue Cross Blue Shield of Illinois        Silver
4    IL  ADAMS       Urban                Coventry Health Care        Bronze

  Plan Type     Rating Area  Premium Child  Premium Adult Individual Age 21  \
0       PPO  Rating Area 10         108.31                           170.57
1       PPO  Rating Area 10         104.88                           165.17
2       PPO  Rating Area 10         170.28                           268.16
3       PPO  Rating Area 10         139.29                           219.36
4       PPO  Rating Area 10         110.18                           173.51

   Premium Adult Individual Age 27  ...  Uninsured adults numerator  \
0                           178.76  ...                        2404
1                           173.09  ...                        2404
2                           281.02  ...                        2404
3                           229.88  ...                        2404
4                           181.83  ...                        2404

   Uninsured adults denominator  Uninsured children numerator  \
0                         37477                           362
1                         37477                           362
2                         37477                           362
3                         37477                           362
4                         37477                           362

   Uninsured children denominator  Primary care physicians numerator  \
0                           15373                                 59
1                           15373                                 59
2                           15373                                 59
3                           15373                                 59
4                           15373                                 59

   Primary care physicians denominator  Per capita income  \
0                                66234            24308.0
1                                66234            24308.0
2                                66234            24308.0
3                                66234            24308.0
4                                66234            24308.0

   Median household income  Median family income  Population
0                  43824.0               55791.0     67103.0
1                  43824.0               55791.0     67103.0
2                  43824.0               55791.0     67103.0
3                  43824.0               55791.0     67103.0
4                  43824.0               55791.0     67103.0

[5 rows x 61 columns]
  State     County County Type  \
0    IL      ADAMS       Urban
1    IL      ADAMS       Urban
2    IL      ADAMS       Urban
3    IL      ADAMS       Urban
4    IL  ALEXANDER       Rural

                                       Issuer Name Metal Level Plan Type  \
0               Blue Cross Blue Shield of Illinois      Bronze       PPO
1                             Coventry Health Care      Bronze       PPO
2              Health Alliance Medical Plans, Inc.      Bronze       HMO
3  Land of Lincoln Mutual Health Insurance Company      Bronze       PPO
4               Blue Cross Blue Shield of Illinois      Bronze       PPO

      Rating Area  Premium Child  Premium Adult Individual Age 21  \
0  Rating Area 10         108.31                           170.57
1  Rating Area 10         110.18                           173.51
2  Rating Area 10         117.13                           184.45
3  Rating Area 10         137.13                           215.96
4  Rating Area 13         110.35                           173.78

   Premium Adult Individual Age 27  ...  Uninsured adults numerator  \
0                           178.76  ...                        2404
1                           181.83  ...                        2404
2                           193.31  ...                        2404
3                           226.32  ...                        2404
4                           182.12  ...                         285

   Uninsured adults denominator  Uninsured children numerator  \
0                         37477                           362
1                         37477                           362
2                         37477                           362
3                         37477                           362
4                          3456                            29

   Uninsured children denominator  Primary care physicians numerator  \
0                           15373                                 59
1                           15373                                 59
2                           15373                                 59
3                           15373                                 59
4                            1489                                  1

   Primary care physicians denominator  Per capita income  \
0                                66234            24308.0
1                                66234            24308.0
2                                66234            24308.0
3                                66234            24308.0
4                                 6315            15858.0

   Median household income  Median family income  Population
0                  43824.0               55791.0     67103.0
1                  43824.0               55791.0     67103.0
2                  43824.0               55791.0     67103.0
3                  43824.0               55791.0     67103.0
4                  28833.0               44699.0      8238.0

[5 rows x 61 columns]